@page "/ListaFuncionarios"
@using Newtonsoft.Json;
@using System;
@using System.Net.Http;
@using System.Text;
@using System.Text.Json;
@using System.Threading.Tasks;

@inject IHttpClientFactory ClientFactory

<PageTitle>Funcinários</PageTitle>
<body>

<style>
 @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
 /* Outros estilos */
</style>

<div class="container_pesquisa">
    <button id="button_home">
        <a href=MenuAdm>
            <img src="/images/icon_home.png">
        </a>
    </button>

    <button id="button_notificacao">
        <a href="ferqyfq.html">
            <img src="/images/icon_notificacao.png">
        </a>

    </button>

    <div id="div_identificacao">
        <img src="/images/Chagasperfil.png">
        <p>Beatriz Chagas</p>
        <div id="div_indifica_role">
            <p>Administrador</p>
        </div>
    </div>

    <div id="divBusca">
       <input type="text" id="txtBusca" @bind="SearchString" @bind:event="oninput">
        <img id="imgBusca" src="/images/lupapesquisa.png" width="30px" alt="Buscar">
    </div>
</div>

<div class="container_menu_content">
    <div class="container_menu">
        <nav class="menu">
            <img id="framming_logo_menu" src="/images/framminglogo.png" />
            <ul>
                <div class="menu_container">
                   <button id="button_cliente_menu">
                    <li><a href="ListaFuncionarios"><img src="/images/icon_cliente.png"></a></li>
                    </button>
                    <button id="button_mensagens_menu">
                        <li><a href="ListaUsuarios"><img src="/images/icon_mensagens.png"></a></li>
                    </button>
                    
                    <button id="button_theater_menu">
                        <li><a href="ListaCinemas"><img src="/images/theater.png"></a></li>
                    </button>
                </div>
            </ul>
            <ul>
                <div class="buttons_sair_configuracao" style="margin-top:300px">
                    <button id="button_sair_menu">
                        <li><a href="#"><img src="/images/icon_saida.png"></a></li>
                    </button>
                    <button id="button_configuracao_menu">
                        <li><a href="#"><img src="/images/configuracao.png"></a></li>
                    </button>
                </div>
            </ul>
        </nav>
    </div>

</div>

<div class="container_content">
    <div class="container_main">
        <button class="cadastrar_novo_cinema">
        <a href ="/cad_func" class="cadastrar_novo_cinema_a">Cadastrar novo Funcionário</a>
        </button>
        <center>
            <div class="rotulos_usuarios">
                <p class="beatriz">Nome</p>
                <p class="beatriz">Email</p>
                <p class="beatriz">Código</p>
                <div class="gap"></div>
            </div>

            <div class="inner-div">
                @foreach(var user in FilteredUsers){
                    <div class="lista_usuarios">
                    <p class="nome_usuario_nome">@user.nomeUsuario</p>
                    <p class="nome_usuario_nick">@user.emailUsuario</p>
                    <p class="nome_usuario_email" data-id="${idUsuario}">@user.tokenCinema</p>
                    <button class="excluir_usu" @onclick="()=>DeleteUser(user.idUsuario)">X</button>
                   

                
                    <button class="button_alterar">
                        <a href="/AlterarFuncionario/@user.idUsuario"><img src="/images/icon_cliente.png"></a>
                    </button>
                    </div>

                <div class="line-users"></div>
                
                }
               
            </div>
          

        </center>
    </div>



</div>
@if (ShowMessage2)
{
   <div class="succes_message2"></div>
}

@if (ShowMessage)
{

 <div class="succes_message" @onclick="HideSuccessMessages"><p>Funcinário excluído com Sucesso!</p>
  <button class="button_succes"><a href="ListaCinemas"></a>x</button>
    <img src="/images/confere.png"/>
 </div>
 
}
</body>
@code {
    private string SearchString { get; set; }
    public List<FuncModel> Users  { get; set; } = new();
    public class FuncModel 
    {
        public string idUsuario;
        public string emailUsuario;
        public string nomeUsuario;
        public string senhaUsuario;
        public string tokenCinema;

        public string tipoUsuario;
    }

      bool ShowMessage = false;
   bool ShowMessage2 = false;

   protected override async Task OnInitializedAsync()
{
  var client = ClientFactory.CreateClient();
  HttpResponseMessage response = await client.GetAsync("https://framming-api.onrender.com/users");
  response.EnsureSuccessStatusCode();
  string responseBody = await response.Content.ReadAsStringAsync();

  Users = JsonConvert.DeserializeObject<List<FuncModel>>(responseBody)
    .Where(user => user.tipoUsuario == "fun")
                .ToList();
                
                  
}


    public async Task DeleteUser(string id){
        var client = ClientFactory.CreateClient();
       var response = await client.PostAsync($"https://framming-api.onrender.com/deleteUsers/{id}",null);
      
   
        Users.RemoveAll(user => user.idUsuario == id);

         if (response.IsSuccessStatusCode)
   {
       ShowMessage2 = true;
       ShowMessage = true;
   }
   else
   {
       var errorMessage = await response.Content.ReadAsStringAsync();
       Console.WriteLine($"Error: {errorMessage}");
   }
}
    }
    

      
  @code {

 private List<FuncModel> FilteredUsers
 {
     get
     {
         return string.IsNullOrEmpty(SearchString) ? Users : Users.Where(user => 
             user.nomeUsuario.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
             user.emailUsuario.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
             user.tokenCinema.Contains(SearchString, StringComparison.OrdinalIgnoreCase)
         ).ToList();
     }
 }

    
     void HideSuccessMessages()
   {
       ShowMessage = false;
       ShowMessage2 = false;
   }
}
    

