@page "/Login"
@using Newtonsoft.Json;
@using System;
@using System.Net.Http;
@using System.Text;
@using System.Text.Json;
@using System.Threading.Tasks;

@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager

<PageTitle>Usuários</PageTitle>
<body>

<style>
 @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
 /* Outros estilos */
</style>
<main class="main">
 <section class="main__card-section">
 <section class="card-section__welcome-section">
     <header class="welcome-section__header">
         <img src="/images/logo-framming.png" alt="Framming Logo" class="header__logo" />
         <div class="welcome-section__title-div">
           <h1 class="title-div__title">Bem-Vindo</h1>
           <h2 class="title-div__subtitle">Enquadrando Emoções</h2>
         </div>
     </header>
     <img src="/images/account-image.png" alt="Account Image" class="welcome-section__image" />
 </section>
 <section class="card-section__account-section">
     <header class="account-section__header">
         <div class="header__account-div">
           <a href="/Login" rel="noreferrer" class="account-div__link">Login</a>
         </div>
     </header>
    <EditForm Model="@this" OnValidSubmit="OnValidSubmit">
       <DataAnnotationsValidator />
       <ValidationSummary />
         <div class="form__input-div">
           <p class="input-div__label">Email</p>
           <InputText id="inputEmail" @bind-Value="user.Email" type="email" class="input-div__input" placeholder="example@email.com" style="border: none; width:98%; background:none; outline:none;"/>
         </div>
         <br>
         <div class="form__input-div">
           <label for="inputPassword" class="input-div__label">Senha</label>
            <InputText id="inputPassword" @bind-Value="user.Password" type="password" class="input-div__input" placeholder="********" style="border: none; width:98%; background:none; outline:none;"/>
           <label for="inputPassword" class="input-div__label-see-password"><img src="/images/see-password-icon.png" alt="See Password Icon" /></label>
         </div>
         <div class="form__password-info-div">
           <div class="password-info-div__remember-div">
             <input type="checkbox" class="password-info-div__remember-input" id="remember-me">
             <label for="remember-me" class="password-info-div__remember-label">Lembre de mim</label>
           </div>
           <a href="#" class="password-info-div__forgot-link">Esqueceu sua senha?</a>
         </div>
         <button type="submit" class="form__submit">Login</button>
         <p class="form__no-account-paragraph">
           Não tem uma conta? <a href="/Register" class="no-account-paragraph__link">Registre-se!</a>
         </p>
     </EditForm>

      @if (!string.IsNullOrEmpty(ErrorMessage))
  {
      <p class="error-message">@ErrorMessage</p>
  }
    
 </section>
 </section>
</main>
</body>

@code{

   public User user { get; set; } = new User();

 public string ErrorMessage { get; set; }

 public class User
 {
     public string Email { get; set; }
     public string Password { get; set; }
     public string tipoUsuario { get; set; }
 }

private async Task OnValidSubmit()
{
   var user = new User
   {
       Email = this.user.Email,
       Password = this.user.Password
   };

   var client = ClientFactory.CreateClient();
   var response = await client.PostAsJsonAsync("https://framming-api.onrender.com/users/login", user);

   if (response.IsSuccessStatusCode)
   {
       var result = JsonConvert.DeserializeObject<User>(await response.Content.ReadAsStringAsync());
       if (result.tipoUsuario == "adm")
       {
           NavigationManager.NavigateTo("/MenuAdm");
       }
       else if (result.tipoUsuario == "fun")
       {
      NavigationManager.NavigateTo("/MenuFun");
      }
       else
       {
           ErrorMessage = "Tipo de usuário desconhecido.";
       }
   }
   else
   {
       ErrorMessage = "Falha ao fazer login.";
   }
}
}