@page "/MenuFun"
@using System;
@using System.Net.Http;
@using System.Text;
@using System.Text.Json;
@using System.Threading.Tasks;

@inject IHttpClientFactory ClientFactory

<PageTitle>Menu Fun</PageTitle>


<style>
 @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
 /* Outros estilos */
</style>


<body>
    <main>
        <div class="container_pesquisa">
            <button id="button_home">
                <a href=MunuFun>
                    <img src="/images/icon_home.png">
                </a>
            </button>

            <button id="button_notificacao">
                <a href="ferqyfq.html">
                    <img src="/images/icon_notificacao.png">
                </a>

            </button>

            <div id="div_identificacao">
                <img src="/images/cinema.png">
                <p>Chagas'Movies</p>
                <div id="div_indifica_role">
                    <p>Funcionário</p>
                </div>
            </div>

            <div id="divBusca">
                <input type="text" id="txtBusca" img src="/images/lupapesquisa.png">
                <img id="imgBusca" src="/images/lupapesquisa.png" width="30px" alt="Buscar">
            </div>
        </div>

        <div class="container_menu_content">
            <div class="container_menu">
                <nav class="menu">
                    <img id="framming_logo_menu" src="/images/framminglogo.png" />
                    <ul>
                            <button id="button_mensagens_menu">
                        <li><a href="ListaFilmes"><img src="/images/icon_mensagens.png"></a></li>
                        </button>
                        <div class="menu_container">
                            <button id="button_cliente_menu" ><li><a href="ListaSessao"><img src="/images/cinema.png" style="margin-left :-9px"></a></li></button>    
                        </div>
                    </ul>
                    <ul>
                        <div class="buttons_sair_configuracao" style="margin-top :404px">
                            <button id="button_sair_menu">
                        <li><a href="Login"><img src="/images/icon_saida.png"></a></li></button>
                        <button id="button_configuracao_menu">
                        <li><a href="Login"><img src="/images/configuracao.png"></a></li></button>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container_content" style="margin-right: -1000px;">
            <div class="presentation">
                <div class="introduction">
                    <span><h1>Bom dia, Chagas´s Movies <br> Paulista <br><h3><br>O que quer fazer?</h3></h1></span>
                    <img src="/images/movie.png" />
                </div>
                <div class="calendar_container">
                    <img src="/images/calendario.png" width="100%" heigth="100%"/>
                </div>

            </div>

            <div class="functions_main">
                
                <div class="manager_employee">
                    <span><img src="/images/cinema.png" width="50px" /></span>
                    <h1>Próxima Sessão do Dia</h1>
                    <div><h2>Filme:</h2><p>Fale Comigo</p></div>
                    <div><h2>Sala:</h2><p>6</p></div>
                    <div><h2>Ingressos Comprados:</h2><p>97</p></div> 
                    <div><h2>Horário:</h2><p>19:00</p></div>
                </div>
                <div class="manager_publication">
                    <span><img src="/images/poltron.png"  width="50px"/></span>
                    <h1>Próxima Sessão do Dia</h1>
                    <div><h2>Filme:</h2><p>Fale Comigo</p></div>
                    <div><h2>Sala:</h2><p>8</p></div>
                    <div><h2>Ingressos Comprados:</h2><p>203</p></div>
                    <div><h2>Data:</h2><p>28/02/2023</p></div>
                </div>
                
            </div>
        </div>

    </main>
</body>

